<p id="notice"><%= notice %></p>

<h2>Your Pragmatic Cart</h2>
<ul>
	<% for item in @cart.line_items %>
	<li><%= item.product.title %></li>
	<% end %>
</ul>

<p>
	<span>Click <%= link_to 'Back', store_path %> to return to Store</span>
</p>